  <%= image_tag("cover.jpg", class:"cover") %>
    <div class="content">
      <div class="container">
        <div class="topmiddleone">
          <h1>Follow us on:</h1>
        </div>
        <div class="topmiddletwo">
          <h1>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</h1>
        </div>
      </div>
    </div>
