.back{
  background-image: url(foot.jpg);
background-attachment: fixed;
background-position: center;
background-size: cover;
}
.cont {
  padding-top: 185px;
  width:80%;
  margin:auto;
  color: green;
}
.cont h1{
  margin-top:20px;
  margin-bottom: 0;
}
/*ANIMATION*/
.panels{
  min-height: 77vh;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}

.panel{
  background: #473B1D;
  border-radius: 5px;
  margin:2px;
  color: white;
  text-align: center;
  align-items: center;
  transition:
    font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background 0.2s;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panel1 { background-image:url(u-10.jpg); }
.panel2 { background-image:url(u-14.jpeg); }
.panel3 { background-image:url(u-18.jpg); }
.panel4 { background-image:url(fille.jpg); }
/*.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }
*/.panel > * {
      margin:0;
      width: 100%;
      transition:transform 0.5s;
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      z-index:0;
    }
.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }

.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
      text-transform: uppercase;
      font-family: 'Amatic SC', cursive;
      text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 1em;
    }
.panel p:nth-child(2) {
      font-size: 4em;
    }
.panel.open {
      flex: 5;
      font-size:40px;
    }
    .cta{
      color: white;
      text-decoration: none;
    }
/*ANIMATION FIN*/
