  <div class="sticky">
    <div class='top'>
      <div class="image">
        <%= link_to root_path do %>
          <%=image_tag("logo.png", alt:"logo", size: "100x100")%>
        <% end %>
      </div>
      <h1>OLYMPIQUE de KINSHASA</h1>
    </div>
    <div class='navbar'>
      <ul>
        <li><a href="#">L'equipe</a></li>

        <li><a href="#">Categories</a></li>
        <li><a href="#">Evenements</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Progression</a></li>
      </ul>
    </div>
  </div>
